
.card-body{
color: rgba(230, 13, 121, 0.582);
background-color: rgba(16, 135, 151, 0.568);
width: 100%;
}

.card{margin-left: 40px;
margin-top: 50px;}

#select1{margin-bottom: 7px;
    border-radius: 5px;}

#select2{margin-bottom: 20px;
    border-radius: 5px;}

h6{text-align: left;}

#boton{color: blueviolet;
       margin-left: 60px;
       border-radius: 8px;
       background-color: rgb(27, 201, 201);}

.lista{list-style-type: non;
padding-top: 200px;
padding-left: 50px;}
.padre{display: flex;}

#calculo3{display: inline-block;
height: 15px;
width:15px;
border-radius: 50%}


